# EditorConfig helps maintain consistent coding styles
# for multiple developers working on the same project across various editors and IDEs
#
# editorconfig.org

# top-most EditorConfig file
root = true

#
# every file
[*]

# default charset
charset = utf-8

# 2 space indentation
indent_style = space
indent_size = 2

# max line length
max_line_length = 120

# unix-style newlines
end_of_line = lf

# newline ending
insert_final_newline = true

# remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

#
# markdown files
[*.md]
trim_trailing_whitespace = false

#
# ignore paths
[/first-site/**]
charset = unset
indent_style = unset
indent_size = unset
max_line_length = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
