# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true


### every file
[*]

# default charset
charset = utf-8

# 2 space indentation
indent_style = space
indent_size = 2

# max line length
max_line_length = 120

# unix-style newlines
end_of_line = lf

# newline ending
insert_final_newline = true

# remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true


### markdown
[*.md]
trim_trailing_whitespace = false
