# Use .prettierignore to ignore (i.e. not reformat)
# certain files and folders completely
#
# prettier.io

# folders
first-site
audios
videos
fonts
images/*
!images/favicons
images/favicons/*
!images/favicons/*.webmanifest

# files
*.min.js
*.min.css
fonts.css
