#==========================================================#
# @.prettierignore
#  use .prettierignore to ignore (i.e. not reformat)
#  certain folders and files completely
#
# @prettier.io/docs/en/ignore.html
#==========================================================#

#==========================================================#
# folders

first-site
assets
audios
videos
fonts
images
icons
favicons/*
!favicons/*.webmanifest

#==========================================================#
# files

# all minified
*.min.css
*.min.js

# all markdown
*.md
