/*========================================================*\
|| fonts
\*========================================================*/

/*========================================================*\
|| source code pro (variable) */

/*
|| source code variable - roman */

@font-face {
  font-family: "Source Code Variable";
  font-stretch: normal;
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("../fonts/source-code-pro/SourceCodeVariable-Roman.ttf.woff2") format("woff2-variations"),
    url("../fonts/source-code-pro/SourceCodeVariable-Roman.ttf.woff") format("woff-variations"),
    url("../fonts/source-code-pro/SourceCodeVariable-Roman.ttf") format("truetype-variations");
  /* new future syntax for src, but no browser support yet - march 2023
  |* url("") format("") tech("variations")
  \*/
}

/*
|| source code variable - italic */

@font-face {
  font-family: "Source Code Variable";
  font-stretch: normal;
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url("../fonts/source-code-pro/SourceCodeVariable-Italic.ttf.woff2") format("woff2-variations"),
    url("../fonts/source-code-pro/SourceCodeVariable-Italic.ttf.woff") format("woff-variations"),
    url("../fonts/source-code-pro/SourceCodeVariable-Italic.ttf") format("truetype-variations");
  /* new future syntax for src, but no browser support yet - march 2023
  |* url("") format("") tech("variations")
  \*/
}

/*========================================================*\
|| orbitron (latin) */

/*
|| orbitron - light (regular) */

@font-face {
  font-family: "Orbitron";
  font-stretch: normal;
  font-style: normal;
  font-weight: 400; /* actually 300 (light), but in use for "normal" (regular) */
  font-display: optional;
  src: url("../fonts/orbitron/orbitron-light.eot") /* ie9 compat modes */;
  src: local("Orbitron Light"), local("Orbitron-Light") /* local font name and postscript name */,
    url("../fonts/orbitron/orbitron-light.eot?#iefix") format("embedded-opentype") /* ie6-ie8 */,
    url("../fonts/orbitron/orbitron-light.woff2") format("woff2") /* super modern browsers */,
    url("../fonts/orbitron/orbitron-light.woff") format("woff") /* modern browsers */,
    url("../fonts/orbitron/orbitron-light.ttf") format("truetype") /* safari, android, ios */,
    url("../fonts/orbitron/orbitron-light.svg#Orbitron") format("svg") /* legacy ios */;
}

/*
|| orbitron - bold */

@font-face {
  font-family: "Orbitron";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("../fonts/orbitron/orbitron-bold.eot") /* ie9 compat modes */;
  src: local("Orbitron Bold"), local("Orbitron-Bold") /* local font name and postscript name */,
    url("../fonts/orbitron/orbitron-bold.eot?#iefix") format("embedded-opentype") /* ie6-ie8 */,
    url("../fonts/orbitron/orbitron-bold.woff2") format("woff2") /* super modern browsers */,
    url("../fonts/orbitron/orbitron-bold.woff") format("woff") /* modern browsers */,
    url("../fonts/orbitron/orbitron-bold.ttf") format("truetype") /* safari, android, ios */,
    url("../fonts/orbitron/orbitron-bold.svg#Orbitron") format("svg") /* legacy ios */;
}

/*
|| orbitron - black */

@font-face {
  font-family: "Orbitron";
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url("../fonts/orbitron/orbitron-black.eot") /* ie9 compat modes */;
  src: local("Orbitron Black"), local("Orbitron-Black") /* local font name and postscript name */,
    url("../fonts/orbitron/orbitron-black.eot?#iefix") format("embedded-opentype") /* ie6-ie8 */,
    url("../fonts/orbitron/orbitron-black.woff2") format("woff2") /* super modern browsers */,
    url("../fonts/orbitron/orbitron-black.woff") format("woff") /* modern browsers */,
    url("../fonts/orbitron/orbitron-black.ttf") format("truetype") /* safari, android, ios */,
    url("../fonts/orbitron/orbitron-black.svg#Orbitron") format("svg") /* legacy ios */;
}
