/*========================================================*\
|* @noscript.css
|*  $author: glmvc
|*  $license: mit
|*  $code-style-guide: /CONTRIBUTING.md
|*
|* @table-of-contents
|*  || noscript
|*    || styling
\*========================================================*/

/*========================================================*\
|| noscript
\*========================================================*/

noscript {
  --shadow-level: 2;
  --noscript-color: var(--warning-color-main);
  display: block;
  margin: 2em auto;
  border: 3px solid red;
  border: var(--border-width-main) solid var(--noscript-color);
  padding: 1em;
  max-width: 40ch;
  font-weight: 500;
  font-size: 1.4rem;
  font-size: var(--font-size-main);
  letter-spacing: 0.001em;
  text-align: center;
  color: red;
  color: var(--noscript-color);
}

details noscript {
  margin-left: 0;
}

/*========================================================*\
|| styling */

body {
  background-color: darkred;
}

.page-wrapper {
  box-shadow: 5px 0 10px rgba(255, 0, 0, 0.8), -5px 0 10px rgba(255, 0, 0, 0.8);
  box-shadow: calc(var(--page-spacing-main) * 0.25) 0 calc(var(--page-spacing-main) * 0.5) rgba(255, 0, 0, 0.8),
    calc(var(--page-spacing-main) * (-0.25)) 0 calc(var(--page-spacing-main) * 0.5) rgba(255, 0, 0, 0.8);
}

.typewriter,
h2 bdi,
.section-greeting map,
.features-wrapper .feature:first-child,
iframe {
  display: none !important;
}

h1 .heading-main {
  text-transform: capitalize;
  cursor: unset;
}

.section-greeting img {
  pointer-events: none;
}

[data-page="code"] section details summary {
  cursor: not-allowed;
}

section[aria-label="changelog"] {
  min-height: unset !important;
}
