/* I am a CSS comment. Browsers ignore me as they render the code. Therefore I am not visible to users. Only if you look at the code, you can see me. Use me to explain important or complicated sections of code so that when you return to the code after a long time, you still know what you have coded. This is also very useful for other coders viewing your code. */

/*
  It is possible
  to write me across
  multiple lines...
*/

/* ... or of course on a single line. */



/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*-- "actual" stylesheet starts below --*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

/*---------------------------------------------------------------------*/
/*-- custom properties (variables) --*/
/*---------------------------------------------------------------------*/

:root {
  /*-- website colors --*/
  --background-dark-grey: #121212;
  --surface-dark-grey: rgba(255, 255, 255, 0.05); /* works with just the rgb function too */
  --onsurface-white: whitesmoke; /* color keyword (CSS identifier) */
  --primary-green: #0fb55e;
  --primary-green-darker: #069247;
  --primary-green-button: #0bf377;
  --secondary-blue: #7cb7ed;
  --secondary-blue-darker: #4383bb;
  --kbd-color: #333333;
  --kbd-background: #eeeeee;
  --kbd-border: #b4b4b4;
  /*-- website spacings --*/
  --website-margin: 20px;
  --website-padding: 3rem;
}



/*---------------------------------------------------------------------*/
/*-- general --*/
/*---------------------------------------------------------------------*/

html { /* type selector (also called element or tag selector) */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* alternative box model */
  font-family: "Source Code Pro", "Consolas", "Courier New", monospace; /* font-stack to guarantee the availability of the fonts across all systems */
  font-style: normal;
  font-weight: normal; /* 400 */
  font-size: 62.5%; /* equal to 10px in most browsers: (62.5 / 100) * 16 = 10 */
  color: whitesmoke; /* fallback color */
  color: var(--onsurface-white);
  background-color: #121212; /* fallback background-color */
  background-color: var(--background-dark-grey);
}

*, *::before, *::after { /* to inherit the alternative box model to all elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  text-shadow: none;
  color: #0fb55e;
  color: var(--primary-green);
  background-color: #121212;
  background-color: var(--background-dark-grey);
}

::selection { /* special pseudo-element */
  text-shadow: none;
  color: #0fb55e;
  color: var(--primary-green);
  background-color: #121212;
  background-color: var(--background-dark-grey);
}

::marker {
  color: #0fb55e;
  color: var(--primary-green);
}

body {
  overflow-x: hidden; /* prevents unwanted horizontal scrolling (especially on mobile devices) */
  margin: 20px auto 20px; /* fallback margin */
  margin: var(--website-margin) auto var(--website-margin);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--surface-dark-grey);
}

body::-webkit-scrollbar-thumb {
  border: 0 solid #0fb55e;
  border: 0 solid var(--primary-green);
  border-radius: 0;
  background-color: #069247;
  background-color: var(--primary-green-darker);
}

.page-wrapper { /* class selector */
  position: relative;
  border: 3px solid black;
  border-radius: 1em;
  border-bottom-right-radius: 5em;
  width: 90%; /* fallback width */
  width: 90vw;
  max-width: 1440px;
  background: center repeat url("../images/background.svg"), rgba(255, 255, 255, 0.05); /* fallback background */
  background: center repeat url("../images/background.svg"), var(--surface-dark-grey); /* shorthand background property */
  -webkit-box-shadow: 5px 0 10px rgba(15, 181, 94, 0.8),
                     -5px 0 10px rgba(15, 181, 94, 0.8);
          box-shadow: 5px 0 10px rgba(15, 181, 94, 0.8), /* right */
                     -5px 0 10px rgba(15, 181, 94, 0.8); /* left */
}


/*---------------------------------------------------------------------*/
/*-- utility classes --*/

.center {
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* inner display type = flex (outer display type = block) */
}

.website-padding {
  padding-right: 3rem; /* fallback padding */
  padding-right: var(--website-padding);
  padding-left: 15rem;
  padding-left: calc(var(--website-padding) * 5);
}

.visually-hidden:not(:focus):not(:active) { /* :not pseudo-class (also known as the negation pseudo-class) */
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.noscript {
  margin: 4em auto 2em;
  border: 2px solid red;
  padding: 1em;
  max-width: 40ch;
  font-weight: 500; /* medium */
  font-size: 1.5rem; /* fallback font-size */
  font-size: clamp(12px, 1.1rem + 0.188vw, 1.5rem);
  letter-spacing: 0.001em;
  text-align: center;
  color: red;
  -webkit-filter: drop-shadow(0.2em 0.2em 0.06em rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0.2em 0.2em 0.06em rgba(0, 0, 0, 0.7));
}

.emoji {
  -webkit-filter: drop-shadow(0.03em 0.03em 0.05em rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0.03em 0.03em 0.05em rgba(0, 0, 0, 0.7));
}

.emoji.heart {
  color: red;
}


/*---------------------------------------------------------------------*/
/*-- styling --*/

/*-- text --*/

h1, h2, h3, h4, h5, h6 { /* selector list on a single line (bad practice) */
  margin-bottom: 0.3em;
  font-weight: normal;
  color: #0fb55e;
  color: var(--primary-green);
}

h1 {
  display: inline; /* inline box (outer display type) */
  font-weight: 300; /* light */
  font-size: 8.4rem;
  font-size: clamp(8.4rem, 7.8rem + 1.875vw, 10.5rem);
  letter-spacing: -0.015em;
  text-shadow: 0.01em 0 0.01em #121212, /* multiple text shadows */
               0 0.01em 0.01em #212121,
               0.02em 0.01em 0.01em #121212,
               0.01em 0.02em 0.01em #212121,
               0.03em 0.02em 0.01em #121212,
               0.02em 0.03em 0.01em #212121,
               0.04em 0.03em 0.01em #121212,
               0.03em 0.04em 0.01em #212121,
               0.05em 0.04em 0.01em #121212,
               0.04em 0.05em 0.01em #212121,
               0.06em 0.05em 0.01em #121212,
               0.05em 0.06em 0.01em #212121,
               0.07em 0.06em 0.01em #121212,
               0.06em 0.07em 0.01em #212121,
               0.08em 0.07em 0.01em #121212;
  cursor: not-allowed; /* sets other type of cursor on hover */
}

h2 {
  font-weight: 300;
  font-size: 5.3rem;
  font-size: clamp(5.3rem, 4.9rem + 1.179vw, 6.6rem);
  letter-spacing: -0.005em;
  line-height: 1.3;
  text-align: center;
  text-shadow: 0.03em 0.03em 0 rgba(255, 255, 255, 0.05),
               0.06em 0.06em 0 #121212; /* fallback text shadows */
  text-shadow: 0.03em 0.03em 0 var(--surface-dark-grey),
               0.06em 0.06em 0 var(--background-dark-grey);
}

h3 {
  font-size: 4.2rem;
  font-size: clamp(4.2rem, 3.9rem + 0.929vw, 5.2rem);
  text-shadow: 0.06em 0.06em 0.04em #121212;
  text-shadow: 0.06em 0.06em 0.04em var(--background-dark-grey);
}

h4 {
  margin-top: 1em;
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 0.463vw, 3.7rem);
  letter-spacing: -0.0025em;
  text-shadow: 0.05em 0.05em 0.03em #121212;
  text-shadow: 0.05em 0.05em 0.03em var(--background-dark-grey);
}

h5 {
  margin-top: 0.702702em;
  font-size: 2.1rem;
  font-size: clamp(2.1rem, 2.1rem + 0.325vw, 2.6rem);
  text-shadow: 0.03em 0.03em 0.02em #121212;
  text-shadow: 0.03em 0.03em 0.02em var(--background-dark-grey);
}

h6 {
  font-weight: 500;
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1.7rem + 0.275vw, 2.2rem);
  letter-spacing: 0.0015em;
  line-height: 2.5;
  word-spacing: 0.5em;
  text-align: center;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  -webkit-text-decoration-color: #0fb55e;
  -webkit-text-decoration-line: underline overline;
          text-decoration-line: underline overline;
          text-decoration-style: wavy;
          text-decoration-color: #0fb55e;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  -webkit-text-decoration-color: var(--primary-green);
          text-decoration-line: underline overline;
          text-decoration-style: wavy;
          text-decoration-color: var(--primary-green);
  text-underline-offset: 0.4em;
  text-transform: uppercase;
}

figcaption {
  margin-top: 1em;
  font-size: 13px;
  letter-spacing: 0.004em;
}

img + figcaption { /* adjacent sibling combinator */
  margin-top: 2em;
  text-align: center;
}

audio + figcaption {
  text-align: center;
}

p, /* selector list across multiple lines (good practice) */
ul,
ol,
dl,
blockquote,
details {
  font-size: 1.7rem;
  font-size: clamp(14px, 1.3rem + 0.1875vw, 1.7rem);
  letter-spacing: 0.005em;
}

p,
li,
dt,
dd,
blockquote,
details {
  line-height: 1.5;
}

h3 ~ p { /* general sibling combinator */
  margin: 1em 0;
  font-style: italic;
}

strong,
dt {
  color: #0fb55e;
  color: var(--primary-green);
}

section[aria-label="changelog"] strong { /* attribute selector */
  font-weight: 500;
  color: inherit;
}

mark {
  padding: 0.02em 0.2em;
  color: whitesmoke;
  color: var(--onsurface-white);
  background-color: rgba(255, 255, 255, 0.07);
}

abbr {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  text-underline-offset: 0.2em;
}

abbr:hover {
  cursor: help;
}

small {
  font-size: 11px;
}

details summary {
  margin-bottom: 0.5em;
  cursor: pointer;
}

/*-- hyperlinks --*/

a {
  outline: none;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
  text-underline-offset: 0.03em;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; /* transition for all properties */
}

a:link {
  color: #7cb7ed;
  color: var(--secondary-blue);
}

a:visited {
  color: #4383bb;
  color: var(--secondary-blue-darker);
}

a:focus {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  color: #0fb55e;
  color: var(--primary-green);
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--surface-dark-grey);
}

a:hover { /* (user-action or dynamic) pseudo-class selector */
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  color: #0fb55e;
  color: var(--primary-green);
}

a:active {
  font-weight: 700; /* bold */
}

a[href*="http"]::after { /* (special) pseudo-element selector */
  content: ""; /* empty string */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.3em;
  width: 0.7em;
  height: 0.7em;
  vertical-align: text-top;
  background-image: url("../images/external-red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; /* transition just for the background-image property */
}

a[href^="https"]::after {
  background-image: url("../images/external-blue.svg");
}

a[href^="https"]:focus::after,
a[href^="https"]:hover::after {
  background-image: url("../images/external-green.svg");
}

/*-- lists --*/

@counter-style thumbs { /* support for this at-rule is insufficient at the moment, June 2022 */
  system: cyclic;
  symbols: "\1F44E" "\1F44D";
  suffix: "";
  fallback: circle;
}

ul {
  list-style-type: square;
}

section:not([aria-label="changelog"]) ul {
  margin-left: 4ch;
}

section ul > li {
  line-height: 2;
}

section[aria-labelledby="web-dev-title"] > ul > li:first-child {
  margin-bottom: 0.5em;
}

section ul ul {
  margin-left: 4ch;
  list-style-type: thumbs; /* from @counter-style  */
}

section ul li:nth-child(2) ul > li {
  list-style-type: circle; /* fallback list style type */
  list-style-type: "\1F44D ";
}

section ul li ul li {
  padding-left: 1ch;
}

ol {
  list-style-type: upper-roman;
}

section.further-info ol {
  margin-left: 4em;
}

ol li { /* descendant combinator */
  padding-bottom: 0.5em;
}

ol li:last-child {
  padding-bottom: 0;
}

nav ul,
aside ul {
  list-style-type: none;
}

dt {
  margin-top: 1em;
  font-weight: bold; /* 700 */
}

dd {
  font-size: 1.5rem;
  font-size: clamp(12px, 1.1rem + 0.188vw, 1.5rem);
  letter-spacing: 0.025em;
  text-indent: 1ch;
}

/* changelog */

section[aria-label="changelog"] li {
  position: relative;
  padding-left: 3ch;
}

section[aria-label="changelog"] li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 1em;
  height: 1em;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

section[aria-label="changelog"] .future-list li::before {
  content: "\02728";
  top: 0;
  width: unset;
  height: unset;
  background-image: none;
  -webkit-filter: drop-shadow(0.1em 0.1em 0.05em rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0.1em 0.1em 0.05em rgba(0, 0, 0, 0.7));
}


/*---------------------------------------------------------------------*/
/*-- visuals --*/

hr {
  margin: 40px 0;
  margin: calc(var(--website-margin) * 2) 0;
  border: none;
  border-top: 3px dashed rgba(255, 255, 255, 0.07);
}

img {
  display: block; /* block box (outer display type) */
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

img:hover {
  -webkit-transform: rotate(0.005turn);
      -ms-transform: rotate(0.005turn);
          transform: rotate(0.005turn);
}

img[src="images/js-code.png"] {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

audio {
  width: 100%;
  max-width: 400px;
  height: 4rem;
}

img,
video,
iframe {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.95);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.95);
}

audio {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.95));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.95));
}

/*-- glitch effect --*/

h2 span {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.6),
               -0.025em -0.03em 0 rgba(0, 255, 0, 0.6),
               0.025em 0.03em 0 rgba(0, 0, 255, 0.6);
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-animation: glitch 600ms infinite;
          animation: glitch 600ms infinite;
}

@-webkit-keyframes glitch {

  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 255, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 0, 255, 0.6);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 255, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 0, 255, 0.6);
  }

  15% {
    text-shadow: -0.025em -0.03em 0 rgba(255, 0, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 255, 0, 0.6),
                 0.05em 0 0 rgba(0, 0, 255, 0.6);
  }

  49% {
    text-shadow: -0.025em -0.03em 0 rgba(255, 0, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 255, 0, 0.6),
                 0.05em 0 0 rgba(0, 0, 255, 0.6);
  }

  50% {
    text-shadow: 0.025em 0.03em 0 rgba(255, 0, 0, 0.6),
                 0.05em 0 0 rgba(0, 255, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 0, 255, 0.6);
  }

  99% {
    text-shadow: 0.025em 0.03em 0 rgba(255, 0, 0, 0.6),
                 0.05em 0 0 rgba(0, 255, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 0, 255, 0.6);
  }

  100% {
    text-shadow: 0.03em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em 0.025em 0 rgba(0, 255, 0, 0.6),
                 0.035em 0.025em 0 rgba(0, 0, 255, 0.6);
  }

}

@keyframes glitch {

  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 255, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 0, 255, 0.6);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 255, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 0, 255, 0.6);
  }

  15% {
    text-shadow: -0.025em -0.03em 0 rgba(255, 0, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 255, 0, 0.6),
                 0.05em 0 0 rgba(0, 0, 255, 0.6);
  }

  49% {
    text-shadow: -0.025em -0.03em 0 rgba(255, 0, 0, 0.6),
                 0.025em 0.03em 0 rgba(0, 255, 0, 0.6),
                 0.05em 0 0 rgba(0, 0, 255, 0.6);
  }

  50% {
    text-shadow: 0.025em 0.03em 0 rgba(255, 0, 0, 0.6),
                 0.05em 0 0 rgba(0, 255, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 0, 255, 0.6);
  }

  99% {
    text-shadow: 0.025em 0.03em 0 rgba(255, 0, 0, 0.6),
                 0.05em 0 0 rgba(0, 255, 0, 0.6),
                 -0.025em -0.03em 0 rgba(0, 0, 255, 0.6);
  }

  100% {
    text-shadow: 0.03em 0 0 rgba(255, 0, 0, 0.6),
                 -0.025em 0.025em 0 rgba(0, 255, 0, 0.6),
                 0.035em 0.025em 0 rgba(0, 0, 255, 0.6);
  }

}


/*---------------------------------------------------------------------*/
/*-- code --*/

pre {
  border: 2px solid #121212;
  border: 2px solid var(--background-dark-grey);
  border-radius: 0.5em;
}

pre::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.07);
  background-color: var(--surface-dark-grey);
}

pre::-webkit-scrollbar-thumb {
  border: 0 solid #0fb55e;
  border: 0 solid var(--primary-green);
  border-radius: 0;
  background-color: #069247;
  background-color: var(--primary-green-darker);
}

kbd {
  display: inline-block;
  border: 1px solid #b4b4b4;
  border: 1px solid var(--kbd-border);
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
  font-weight: 500;
  font-size: 0.85em;
  line-height: 1;
  color: #333333;
  color: var(--kbd-color);
  background-color: #eeeeee;
  background-color: var(--kbd-background);
  -webkit-box-shadow: inset 0 0.01em 0.1em rgba(0, 0, 0, 0.2), 0 0.2em 0 0 rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 0.01em 0.1em rgba(0, 0, 0, 0.2), 0 0.2em 0 0 rgba(255, 255, 255, 0.7); /* inset for inner shadow */
  white-space: nowrap;
}

/*-- prismjs syntax highlighter library --*/

.toolbar-item {
  font-weight: 500;
}

.copy-to-clipboard-button {
  cursor: pointer;
}

div.code-toolbar > div.toolbar > div.toolbar-item > span,
.code-toolbar > .toolbar > .toolbar-item > .copy-to-clipboard-button { /* higher selector specificity to overrule the styles from prism.css */
  --copy-button-radius: 0.5em;
  border: none;
  border-radius: 0.5em;
  border-radius: var(--copy-button-radius);
  background: #121212;
  background: var(--background-dark-grey);
}

div.code-toolbar > div.toolbar > div.toolbar-item > span,
.copy-to-clipboard-button span {
  display: inline-block;
  border: 2px solid #121212;
  border: 2px solid var(--background-dark-grey);
  border-radius: 0.5em;
  border-radius: var(--copy-button-radius);
  padding: 0.05em 0.5em;
  color: #121212;
  color: var(--background-dark-grey);
  background: #eeeeee;
  background: var(--kbd-background);
  -webkit-transform: translateY(-0.2em);
      -ms-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.copy-to-clipboard-button:hover span {
  -webkit-transform: translateY(-0.3em);
      -ms-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
}

.copy-to-clipboard-button:active span {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}



/*---------------------------------------------------------------------*/
/*-- header --*/
/*---------------------------------------------------------------------*/

header { /* flex container */
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3rem;
  padding: calc(var(--website-padding) * 0.5) var(--website-padding);
  background: rgb(18, 18, 18);
  background: -o-linear-gradient(top, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 95%, rgba(18, 18, 18, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 18, 1)), color-stop(95%, rgba(18, 18, 18, 1)), to(rgba(18, 18, 18, 0)));
  background: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 95%, rgba(18, 18, 18, 0) 100%);
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.scrolled:not(.nav-open) header {
  background: rgba(18, 18, 18, 0.93);
  background: -o-linear-gradient(top, rgba(18, 18, 18, 0.93) 0%, rgba(18, 18, 18, 0.93) 95%, rgba(18, 18, 18, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 18, 0.93)), color-stop(95%, rgba(18, 18, 18, 0.93)), to(rgba(18, 18, 18, 0)));
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.93) 0%, rgba(18, 18, 18, 0.93) 95%, rgba(18, 18, 18, 0) 100%);
}

body:not(.scrolled) header {
  border-radius: 0.6em 0.6em 0 0;
}

@supports not ((position: -webkit-sticky) or (position: sticky)) { /* "if the browser doesn't support the 'position: sticky;' declaration" */

  header {
    position: absolute;
    width: 100%;
  }

  .scrolled header {
    position: fixed;
    width: calc(90% - 6px); /* .page-wrapper fallback width minus 6px */
    width: calc(90vw - 6px); /* minus 6px because of the left & right border of the .page-wrapper */
    max-width: 1434px; /* .page-wrapper max-width minus 6px */
  }

  main {
    margin-top: 16rem;
  }

}


/*---------------------------------------------------------------------*/
/*-- logo --*/

header a.logo {
  z-index: 8;
  position: relative;
  text-decoration: none;
}

header a.logo:focus {
  background-color: unset;
  -webkit-filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7));
          filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7));
}

header svg {
  width: 10rem;
  height: 10rem;
}

/*-- typewriter effect --*/

.typewriter {
  margin-left: 1.2rem;
  font-weight: 500;
  font-size: 13px;
}

.typewriter > .text { /* child combinator */
  overflow: hidden;
  max-width: 0;
  white-space: nowrap;
  -webkit-animation: typing 6s steps(var(--characters)) infinite;
          animation: typing 6s steps(var(--characters)) infinite;
}

.typewriter::after {
  content: " |";
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

@-webkit-keyframes typing {

  60%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }

}

@keyframes typing {

  60%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }

}

@-webkit-keyframes blink {

  0%,
  75%,
  100% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

}

@keyframes blink {

  0%,
  75%,
  100% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

}


/*---------------------------------------------------------------------*/
/*-- nav --*/

nav a {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.8rem;
  font-size: clamp(15px, 1.4rem + 0.1875vw, 1.8rem);
  letter-spacing: 0.0015em;
}

/*-- active page hyperlink --*/

nav a.active {
  color: #069247;
  color: var(--primary-green-darker);
}

nav a.active:hover {
  color: #0fb55e;
  color: var(--primary-green);
}

/*-- nav icon --*/

#nav-icon { /* id selector */
  all: unset; /* resets all properties (in this case of the button element) */
  display: none;
  z-index: 9; /* should always be on top of everything else */
  position: relative;
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#nav-icon span:not(.visually-hidden) {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: whitesmoke;
  background-color: var(--onsurface-white);
  -webkit-transition: 300ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 300ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 300ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

#nav-icon:hover span:not(.visually-hidden) {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

#nav-icon span:nth-child(2) {
  top: 0;
  left: 0;
}

#nav-icon span:nth-child(3) {
  top: 0;
  left: 12px;
}

#nav-icon span:nth-child(4) {
  top: 0;
  right: 0;
}

#nav-icon span:nth-child(5) {
  top: 12px;
  left: 0;
}

#nav-icon span:nth-child(6) {
  position: absolute;
  top: 12px;
  left: 12px;
}

#nav-icon span:nth-child(7) {
  top: 12px;
  right: 0;
}

#nav-icon span:nth-child(8) {
  bottom: 0;
  left: 0;
}

#nav-icon span:nth-child(9) {
  position: absolute;
  bottom: 0;
  left: 12px;
}

#nav-icon span:nth-child(10) {
  right: 0;
  bottom: 0;
}

#nav-icon.open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  cursor: pointer;
}

#nav-icon.open span:not(.visually-hidden) {
  border-radius: 50%;
  -webkit-transition-delay: 200ms;
       -o-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition: 500ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 500ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 500ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

#nav-icon.open span:nth-child(3) {
  top: 6px;
  left: 6px;
}

#nav-icon.open span:nth-child(5) {
  top: 18px;
  left: 6px;
}

#nav-icon.open span:nth-child(7) {
  top: 6px;
  right: 6px;
}

#nav-icon.open span:nth-child(9) {
  bottom: 6px;
  left: 18px;
}



/*---------------------------------------------------------------------*/
/*-- main content --*/
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*-- sidebar --*/

aside {
  position: absolute;
  top: 18.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: column-reverse nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -13.5rem;
  margin-left: calc(3rem * (-4.5));
  margin-left: calc(var(--website-padding) * (-4.5)); /* to "equalize" the padding-left of the .website-padding */
  border: 3px dashed #0fb55e;
  border: 3px dashed var(--primary-green);
  padding: 1rem;
  -webkit-filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.7));
}

.scrolled aside {
  position: fixed;
}

aside > p {
  position: absolute;
  top: 50%;
  right: 1rem; /* equal to the padding-right of aside */
  font-size: 12px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

aside ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
}

aside li {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-text-orientation: upright;
          text-orientation: upright;
}

aside a {
  text-decoration: none;
}

aside li a[href*="http"]::after {
  content: none;
}


/*---------------------------------------------------------------------*/
/*-- greeting --*/

div.heading { /* "selecting all div elements with a class of heading" */
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 8.4rem;
  font-size: clamp(8.4rem, 7.8rem + 1.875vw, 10.5rem); /* equal to the font-size of h1 */
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

div.heading:hover {
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
}


/*---------------------------------------------------------------------*/
/*-- hello world program --*/

@media only screen and (min-width: 991px) {

  section.hello-world-program { /* grid container */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading"
      "para1 para1"
      "quote video"
      "para2 para2";
    gap: 2rem;
  }

  section.hello-world-program h3 {
    grid-area: heading;
    margin-bottom: 0;
  }

  section.hello-world-program h3 + p {
    grid-area: para1;
  }

  section.hello-world-program p:nth-last-child(2) {
    grid-area: para2;
  }

  section.hello-world-program blockquote {
    grid-area: quote;
  }

  section.hello-world-program figure {
    grid-area: video;
    -ms-grid-row-align: center;
            align-self: center;
  }

}


/*---------------------------------------------------------------------*/
/*-- web dev --*/

.web-dev { /* multicol container */
  -webkit-columns: 3 40ch;
     -moz-columns: 3 40ch;
          columns: 3 40ch;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 4px dotted rgba(255, 255, 255, 0.07);
     -moz-column-rule: 4px dotted rgba(255, 255, 255, 0.07);
          column-rule: 4px dotted rgba(255, 255, 255, 0.07);
}


/*---------------------------------------------------------------------*/
/*-- planets table --*/

.table-wrapper {
  overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.07);
  background-color: var(--surface-dark-grey);
}

.table-wrapper::-webkit-scrollbar-thumb {
  border: 0 solid #0fb55e;
  border: 0 solid var(--primary-green);
  border-radius: 0;
  background-color: #069247;
  background-color: var(--primary-green-darker);
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  width: 100%;
  font-family: "Orbitron", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.0025em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.88);
  background-color: black;
}

table caption {
  caption-side: bottom;
  margin: 1em 2em 2em 0;
  font-size: 12px;
  letter-spacing: 0.004em;
  text-align: right;
}

thead {
  border-bottom: 2px solid black;
}

thead th {
  font-weight: 800; /* extra/ultra bold */
}

tbody td {
  text-align: center;
}

tfoot {
  border-top: 2px solid black;
  font-size: 11px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 1em;
}

th {
  font-weight: 600; /* semi bold */
  background-color: rgba(255, 255, 255, 0.08);
}

th[scope="row"]::first-letter {
  font-weight: 850;
  font-size: 15px;
  color: #0fb55e;
  color: var(--primary-green);
}

td {
  font-weight: 300;
}

/*-- zebra striping --*/

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.09);
}

tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.1);
}



/*---------------------------------------------------------------------*/
/*-- footer --*/
/*---------------------------------------------------------------------*/

footer {
  padding-bottom: var(--website-padding);
}


/*---------------------------------------------------------------------*/
/*-- additional page features --*/

.features-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 3rem;
}

.feature {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  gap: 1.5rem;
}

.feature h6 {
  margin-bottom: 0;
}

#audio {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*-- button --*/

#button {
  overflow: hidden;
  position: relative;
  outline: 1px solid #0bf377;
  outline: 1px solid var(--primary-green-button);
  outline-offset: -2px;
  border: 1px solid #0bf377;
  border: 1px solid var(--primary-green-button);
  padding: 0.7em 2.7em;
  width: 100%;
  max-width: 20rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-size: clamp(12px, 1.1rem + 0.188vw, 1.5rem);
  letter-spacing: 0.0125em;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  color: #0bf377;
  color: var(--primary-green-button);
  background: -o-linear-gradient(left, rgba(11, 243, 119, 0.1) 1%, transparent 40%, transparent 60%, rgba(11, 243, 119, 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(11, 243, 119, 0.1)), color-stop(40%, transparent), color-stop(60%, transparent), to(rgba(11, 243, 119, 0.1)));
  background: linear-gradient(to right, rgba(11, 243, 119, 0.1) 1%, transparent 40%, transparent 60%, rgba(11, 243, 119, 0.1) 100%);
  -webkit-box-shadow: inset 0 0 1.2em rgba(27, 253, 156, 0.4),
                            0 0 0.9em 0.3em rgba(27, 253, 156, 0.1);
          box-shadow: inset 0 0 1.2em rgba(27, 253, 156, 0.4),
                            0 0 0.9em 0.3em rgba(27, 253, 156, 0.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: crosshair;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; /* stop user from selecting text of button */
}

#button:focus-visible,
#button:hover {
  outline-offset: 0;
  color: hsl(148, 91%, 60%);
  -webkit-box-shadow: inset 0 0 1.2em rgba(11, 243, 119, 0.6),
                            0 0 0.9em 0.3em rgba(11, 243, 119, 0.2);
          box-shadow: inset 0 0 1.2em rgba(11, 243, 119, 0.6),
                            0 0 0.9em 0.3em rgba(11, 243, 119, 0.2);
}

#button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, transparent), color-stop(40%, rgba(11, 243, 119, 0.1)), color-stop(60%, rgba(11, 243, 119, 0.1)), to(transparent));
  background: -o-linear-gradient(left, transparent 1%, rgba(11, 243, 119, 0.1) 40%, rgba(11, 243, 119, 0.1) 60%, transparent 100%);
  background: linear-gradient(to right, transparent 1%, rgba(11, 243, 119, 0.1) 40%, rgba(11, 243, 119, 0.1) 60%, transparent 100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

#button:focus-visible::before,
#button:hover::before {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}


/*---------------------------------------------------------------------*/
/*-- contact details --*/

address {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
}

address p:first-child {
  margin-bottom: 0.3em;
  text-transform: capitalize;
}

address a {
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}


/*---------------------------------------------------------------------*/
/*-- info --*/

details summary {
  width: 6ch;
}

details summary::marker {
  content: ">";
}

details[open] summary::marker {
  content: "↓";
}

p[lang="ja"] {
  float: right;
  -webkit-padding-after: 0.35em;
          padding-block-end: 0.35em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: full-width; /* only present in firefox, June 2022 */
  color: #0fb55e;
  color: var(--primary-green);
  -webkit-animation: flicker 4s infinite;
          animation: flicker 4s infinite;
}

details p:last-of-type {
  clear: right; /* clear right float from the japanese sentence */
  margin-top: 1.35em;
}

details p:not(:first-of-type) {
  padding-left: 0.35em; /* to "equalize" the padding-block-end of p[lang="ja"] */
}

details p {
  font-size: 1.5rem;
  font-size: clamp(12px, 1.1rem + 0.188vw, 1.5rem);
  letter-spacing: 0.0025em;
  text-align: center;
}

@-webkit-keyframes flicker {

  0%, 39%, 41%, 59%, 61%, 100% {
    text-shadow: 0 0 0.25em #0bf377;
    text-shadow: 0 0 0.25em var(--primary-green-button);
  }

  40%, 60% {
    text-shadow: none;
  }

}

@keyframes flicker {

  0%, 39%, 41%, 59%, 61%, 100% {
    text-shadow: 0 0 0.25em #0bf377;
    text-shadow: 0 0 0.25em var(--primary-green-button);
  }

  40%, 60% {
    text-shadow: none;
  }

}



/*---------------------------------------------------------------------*/
/*-- further media queries (responsive & accessibility) --*/
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*-- large width (> 1000px) --*/

@media only screen and (max-width: 75em) {

  html {
    font-size: 59.375%;
  }

}


/*---------------------------------------------------------------------*/
/*-- medium width (smaller than 1000px to mobile) --*/

@media only screen and (max-width: 62em) {

  html {
    font-size: 56.25%;
  }

}


/*---------------------------------------------------------------------*/
/*-- small width (mobile) --*/

@media only screen and (max-width: 48em) {

  html {
    font-size: 53.125%;
  }

  .website-padding {
    padding-left: 3rem;
    padding-left: var(--website-padding);
  }

  aside.flex {
    display: none;
  }

  #nav-icon {
    display: block;
  }

  /*-- mobile nav --*/

  .nav-open {
    overflow: hidden;
  }

  nav ul {
    overflow-y: auto;
    z-index: 7;
    position: fixed;
    inset: 0; /* shorthand for top, right, bottom and left - but support is insufficient at the moment, June 2022 (see supports at-rule below) */
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 16rem 3rem 3rem;
    padding: min(30vh, 18rem) var(--website-padding) var(--website-padding);
    text-align: center;
    background: center repeat url("../images/background.svg"), rgb(18, 18, 18);
    background: center repeat url("../images/background.svg"), var(--background-dark-grey);
    pointer-events: none;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  @supports not (inset: 0) {
    nav ul {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .nav-open nav ul {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    pointer-events: all;
  }

  nav li a {
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
  }

  .nav-open nav li a {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }

  .nav-open nav li:nth-child(1) a {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.15s;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.15s;
    -o-transition: all 0.2s ease-in-out, transform 0.2s ease 0.15s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.15s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.15s, -webkit-transform 0.2s ease 0.15s;
  }

  .nav-open nav li:nth-child(2) a {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.3s;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.3s;
    -o-transition: all 0.2s ease-in-out, transform 0.2s ease 0.3s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.3s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.3s, -webkit-transform 0.2s ease 0.3s;
  }

  .nav-open nav li:nth-child(3) a {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.45s;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.45s;
    -o-transition: all 0.2s ease-in-out, transform 0.2s ease 0.45s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.45s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.45s, -webkit-transform 0.2s ease 0.45s;
  }

  .nav-open nav li:nth-child(4) a {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.6s;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease 0.6s;
    -o-transition: all 0.2s ease-in-out, transform 0.2s ease 0.6s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.6s;
    transition: all 0.2s ease-in-out, transform 0.2s ease 0.6s, -webkit-transform 0.2s ease 0.6s;
  }

}


@media only screen and (max-width: 36em) {

  html {
    font-size: 50%;
  }

}


@media only screen and (max-width: 20em) {

  html {
    font-size: 46.875%;
  }

}


/*---------------------------------------------------------------------*/
/*-- print --*/

@media print {

  .no-print,
  header,
  aside,
  video,
  .features-wrapper,
  iframe,
  a[href*="http"]::after {
    display: none !important;
  }

  body {
    margin: 0;
  }

  .page-wrapper {
    border: none;
    border-radius: unset;
    border-bottom-right-radius: unset;
    width: unset;
    max-width: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .website-padding {
    padding-left: 3rem;
    padding-left: var(--website-padding);
  }

  main,
  h2 span,
  table {
    all: unset;
  }

  table {
    page-break-before: always;
  }

  body,
  mark,
  table {
    color: black;
  }

}


/*---------------------------------------------------------------------*/
/*-- reduced motion --*/

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
         -o-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
         -o-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }

}
