/* I am a CSS comment. Browsers ignore me as they render the code. Therefore I am not visible to users. Only if you look at the code, you can see me. Use me to explain important or complicated sections of code so that when you return to the code after a long time, you still know what you have coded. This is also very useful for other coders viewing your code. */

/*
  It is possible
  to write me across
  multiple lines...
*/

/* ... or of course on a single line. */



/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*-- "actual" stylesheet starts below --*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*-- custom properties (variables) using the :root pseudo-class --*/
/*---------------------------------------------------------------------*/

:root {
  /*-- website colors --*/
  --background-dark-grey: #121212;
  --surface-dark-grey: rgba(255, 255, 255, 0.05); /* works with just the rgb function too */
  --onsurface-white: whitesmoke; /* color keyword (CSS identifier) */
  --primary-green: #0fb55e;
  --primary-green-darker: #069247;
  --button-green: #0bf377;
  --secondary-blue: #7cb7ed;
  --secondary-blue-darker: #4383bb;
  /*-- website padding --*/
  --website-padding: 2rem;
}



/*---------------------------------------------------------------------*/
/*-- general  --*/
/*---------------------------------------------------------------------*/

*, *::before, *::after { /* to inherit the alternative box model to all elements */
  box-sizing: inherit;
}

html { /* type selector (also called tag or element selector) */
  box-sizing: border-box; /* alternative box model */
  font-size: 10px;
  font-family: "Source Code Pro", "Consolas", "Courier New", monospace; /* font-stack to guarantee the availability of the fonts across all systems */
  font-style: normal;
  font-weight: 400;
  color: whitesmoke; /* fallback color */
  color: var(--onsurface-white);
  background-color: #121212;
  background-color: var(--background-dark-grey);
}

body {
  margin: 20px 0 20px;
  width: 1024px; /* fallback width */
  width: 90vw;
  max-width: 1920px;
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--surface-dark-grey);
  border: 3px solid black;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 0px 10px rgba(15, 181, 94, 0.8), /* right */
              -5px 0px 10px rgba(15, 181, 94, 0.8); /* left */
}

.center { /* class selector */
  margin-left: auto;
  margin-right: auto;
}

.website-padding {
  padding-left: 145px;
  padding-left: clamp(145px, 10vw, 160px);
  padding-right: 2rem;
  padding-right: var(--website-padding);
}


/*---------------------------------------------------------------------*/
/*-- scroll --*/

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--surface-dark-grey);
}
body::-webkit-scrollbar-thumb {
  background-color: #069247;
  background-color: var(--primary-green-darker);
  border-radius: 0px;
  border: 0px solid #0fb55e;
  border: 0px solid var(--primary-green);
}


/*---------------------------------------------------------------------*/
/*-- styling --*/

hr {
  margin: 30px 0;
  margin: clamp(15px, 2vw, 30px) 0;
  border: none;
  border-top: 3px dashed rgba(255, 255, 255, 0.07);
}

span {
  color: pink;
}

/*-- text --*/

h1, h2, h3, h4, h5, h6 { /* selector list on a single line */
  color: #0fb55e;
  color: var(--primary-green);
}

h1 {
  display: inline; /* inline box (outer display type) */
  margin-bottom: 10px;
  text-align: center;
  font-size: 6.3rem; /* second fallback font size */
  font-size: min(max(6.3rem, 5.46rem + 2.625vw), 10.5rem); /* first fallback font size */
  font-size: clamp(6.3rem, 5.46rem + 2.625vw, 10.5rem);
  letter-spacing: 0.15em;
  text-shadow: 1px 0px 1px #121212, /* multiple shadows */
               0px 1px 1px #212121,
               2px 1px 1px #121212,
               1px 2px 1px #212121,
               3px 2px 1px #121212,
               2px 3px 1px #212121,
               4px 3px 1px #121212,
               3px 4px 1px #212121,
               5px 4px 1px #121212,
               4px 5px 1px #212121,
               6px 5px 1px #121212,
               5px 6px 1px #212121,
               7px 6px 1px #121212,
               6px 7px 1px #212121,
               8px 7px 1px #121212;
}

h1:hover {
  transform: rotate(-0.001turn);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3.96rem;
  font-size: min(max(3.96rem, 3.432rem + 1.65vw), 6.6rem);
  font-size: clamp(3.96rem, 3.432rem + 1.65vw, 6.6rem);
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.05),
               4px 4px 0px #121212;
  text-shadow: 2px 2px 0px var(--surface-dark-grey),
               4px 4px 0px var(--background-dark-grey);
}

h3 {
  margin-bottom: 5px;
  font-size: 3.12rem;
  font-size: min(max(3.12rem, 2.704rem + 1.3vw), 5.2rem);
  font-size: clamp(3.12rem, 2.704rem + 1.3vw, 5.2rem);
  text-shadow: 2px 2px 1px #1a1a1a;
}

h4 {
  padding-bottom: 5px;
  font-size: 2.22rem;
  font-size: min(max(2.22rem, 1.924rem + 0.925vw), 3.7rem);
  font-size: clamp(2.22rem, 1.924rem + 0.925vw, 3.7rem);
  letter-spacing: 0.025em;
  text-shadow: 1.5px 1.5px 0.5px #1a1a1a;
}

h5 {
  font-size: 1.56rem;
  font-size: min(max(1.56rem, 1.352rem + 0.65vw), 2.6rem);
  font-size: clamp(1.56rem, 1.352rem + 0.65vw, 2.6rem);
}

h6 {
  padding: 6rem 0 3rem;
  font-size: 1.32rem;
  font-size: min(max(1.32rem, 1.144rem + 0.55vw), 2.2rem);
  font-size: clamp(1.32rem, 1.144rem + 0.55vw, 2.2rem);
  letter-spacing: 0.015em;
  word-spacing: 0.5rem;
  text-decoration: underline overline #0fb55e wavy;
  text-decoration: underline overline var(--primary-green) wavy;
  text-underline-offset: 0.5rem;
  text-transform: uppercase;
}

p, /* selector list across multiple lines */
ul,
ol,
dl,
blockquote {
  font-size: 1.1rem;
  font-size: min(max(1.1rem, 0.98rem + 0.375vw), 1.7rem);
  font-size: clamp(1.1rem, 0.98rem + 0.375vw, 1.7rem);
  letter-spacing: 0.05em;
}

p,
li,
dd,
dt,
blockquote {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

h3 ~ p { /* general sibling combinator */
  text-indent: 2rem;
  font-style: italic;
}

mark {
  padding: 0 0.5%;
  color: whitesmoke;
  color: var(--onsurface-white);
  background-color: rgba(255, 255, 255, 0.07);
}

address p:first-child {
  text-transform: capitalize;
}

p[lang="ja"] { /* attribute selector */
  writing-mode: vertical-rl;
  text-transform: full-width;
}

figcaption {
  padding-top: 1.5rem;
  font-size: 1rem;
  font-size: min(max(1rem, 0.94rem + 0.1875vw), 1.3rem);
  font-size: clamp(1rem, 0.94rem + 0.1875vw, 1.3rem);
  letter-spacing: 0.004em;
}

img + figcaption { /* adjacent sibling combinator */
  padding-top: 3rem;
  text-align: center;
}

strong {
  color: #0fb55e;
  color: var(--primary-green);
}

details {
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
}

details > p { /* child combinator */
  color: red;
}

/*-- hyperlinks --*/

a {
  outline: none;
  text-underline-offset: 0.3em;
}

a:link {
  color: #7cb7ed;
  color: var(--secondary-blue);
}

a:visited {
  color: #4383bb;
  color: var(--secondary-blue-darker);
}

a:focus {
  color: #0fb55e;
  color: var(--primary-green);
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--surface-dark-grey);
}

a:hover { /* (user-action or dynamic) pseudo-class selector*/
  text-decoration: none;
  color: #0fb55e;
  color: var(--primary-green);
  transform: scale(1.05);
}

a:active {
  font-weight: 700; /* 700 = bold */
}

a[href*="http"]::after { /* (special) pseudo-element selector */
  content: ""; /* empty string */
  display: inline-block;
  margin-left: 4px;
  height: 0.8em;
  width: 0.8em;
  background-image: url("../images/external-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

a[href^="https"]::after {
  background-image: url("../images/external-blue.svg");
}

a[href^="https"]:focus::after {
  background-image: url("../images/external-green.svg");
}

a[href^="http"]:hover::after {
  background-image: url("../images/external-red.svg");
}

a[href^="https"]:hover::after {
  background-image: url("../images/external-green.svg");
}

/*-- lists --*/

@counter-style thumbs {
  system: cyclic;
  symbols: "\1F44E" "\1F44D";
  suffix: "";
  fallback: circle;
}

ul {
  list-style-type: square;
}

section ul ul {
  margin-left: 60px;
  list-style-type: thumbs;
}

section ul li:nth-child(2) ul > li {
  list-style-type: circle; /* fallback list style type */
  list-style-type: "\1F44D ";
}

ol {
  list-style-type: upper-roman;
}

nav ul,
aside ul { /* descendant combinators */
  list-style-type: none;
}


/*---------------------------------------------------------------------*/
/*-- visuals --*/

div.heading { /* "selecting all div elements with a class of heading" */
  display: flex; /* inner display type = flex (outer display type = block) */
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* block box (outer display type) */
  cursor: pointer;
}

img:hover {
  transform: rotate(0.005turn);
}

img[src="images/js-code.png"] {
  filter: blur(5px);
}

video {
  max-width: 100%;
  height: auto;
}


/*---------------------------------------------------------------------*/
/*-- table styling --*/

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid black;
  font-family: "Orbitron", "Helvetica", "Arial", sans-serif;
  color: black;
  letter-spacing: 1px;
  font-size: 0.8rem;
  background-color: black; /* fallback color */
}

caption {
  padding: 10px;
  text-align: right;
  caption-side: bottom;
}

td,
th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

tbody td {
  text-align: center;
}

/*-- zebra striping --*/

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}



/*---------------------------------------------------------------------*/
/*-- header --*/
/*---------------------------------------------------------------------*/

header { /* flex container */
  z-index: 9;
  padding: 2rem;
  padding: var(--website-padding);
  position: sticky;
  top: -1px;
  left: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(18, 18, 18, 1) 22%);
}


/*---------------------------------------------------------------------*/
/*-- nav --*/

nav li {
  font-size: 1.6rem;
  display: inline;
}

nav ul:first-child {
  padding-left: 30px; /* fallback padding */
  padding-left: clamp(15px, 2vw, 30px);
}

/*-- active page hyperlink --*/

nav a.active {
  color: #069247;
  color: var(--primary-green-darker);
}

nav a.active:hover {
  color: #0fb55e;
  color: var(--primary-green);
}


/*---------------------------------------------------------------------*/
/*-- logo --*/

header a.logo:focus {
  background-color: unset;
  filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7));
}

header a.logo:hover {
  transform: scale(1.01);
}

header svg {
  padding-left: 7px;
  box-sizing: content-box; /* switching to the standard box model */
}



/*---------------------------------------------------------------------*/
/*-- main content --*/
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*-- sidebar --*/

aside {
  position: fixed;
  margin-left: calc(145px * -1 + 2rem);
  margin-left: calc(clamp(145px, 10vw, 160px) * -1 + 2rem); /* to "reset" the padding-left from the main section */
  padding: 1rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  border: 3px dashed #0fb55e;
  border: 3px dashed var(--primary-green);
  filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7));
}

aside > p {
  padding-left: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
}

aside ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

aside li {
  letter-spacing: -0.1rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

aside a {
  text-decoration: none;
}

aside li a[href*="http"]::after {
  content: none;
}


/*---------------------------------------------------------------------*/
/*-- hello world program --*/

section.hello-world-program { /* grid container */
  display: grid;
  grid-template-areas:
    "heading heading"
    "para video"
    "quote video"
    ". video";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  gap: clamp(15px, 2vw, 20px);
}

section.hello-world-program h3 {
  grid-area: heading;
}

section.hello-world-program p:first-child {
  grid-area: para;
}

section.hello-world-program blockquote {
  grid-area: quote;
}

section.hello-world-program figure {
  grid-area: video;
}


/*---------------------------------------------------------------------*/
/*-- web dev --*/

section.web-dev { /* multicol container */
  column-count: 4;
  column-gap: 20px;
  column-rule: 4px dotted #4383bb;
  column-rule: 4px dotted var(--secondary-blue-darker);
}


/*---------------------------------------------------------------------*/
/*-- sources --*/

section.sources ol {
  margin-left: 5.5rem;
}



/*---------------------------------------------------------------------*/
/*-- footer --*/
/*---------------------------------------------------------------------*/

/*-- button --*/

/* inspired by @adamgiebl on cssbuttons.io */

button {
  position: relative;
  padding: 0.7em 2.7em;
  font-family : inherit;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  line-height: 2;
  text-transform: uppercase;
  color: #0bf377;
  color: var(--button-green);
  border: 2px solid #0bf377;
  border: 2px solid var(--button-green);
  border-radius: 0.5em;
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1); /* inset for inner shadow */
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  color: #00ff91;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -4em;
  width: 4em;
  height: 100%;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  transition: transform 0.4s ease-in-out;
}

button:hover:before {
  transform: translateX(15em);
}






audio {
  width: 100%;
  max-width: 450px;
  height: 45px;
}


/*-- to do --*/

/* id selector */
/* float */
/* background-position */



/*---------------------------------------------------------------------*/
/*-- media queries (responsive) --*/
/*---------------------------------------------------------------------*/

@media only screen and (max-width: 990px) {

  html {
    font-size: 9px;
  }

}

@media only screen and (max-width: 790px) {

  html {
    font-size: 8px;
  }

}


/*---------------------------------------------------------------------*/
/*-- light mode --*/
/*
@media (prefers-color-scheme: light) {

  body {
    background-color: white;
  }

}
*/

/*---------------------------------------------------------------------*/
/*-- print --*/

@media print {

  .no-print,
  aside,
  h6,
  button,
  audio,
  iframe,
  details {
    display: none;
  }

  header {
    position: unset;
  }

}